.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overlay.close {
    display: none;
  }
  .popup {
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    height: 100%;
  }